ragas
langchain==0.1.20
langchain-community==0.0.38
langchain-google-genai==1.0.3
langchain-openai
python-dotenv
pdfplumber
docling
#faiss-gpu-cu12
faiss-cpu
peft
sentence-transformers
transformers==5.10.2
spacy
google-genai